<div class="space-y-4">

    <div>
        <p class="text-sm text-gray-500">
            Descrição
        </p>

        <p class="text-gray-900"
           th:text="${conta.descricao}">
        </p>
    </div>

    <div>
        <p class="text-sm text-gray-500">
            Tipo
        </p>

        <p class="text-gray-900"
           th:text="${conta.tipo}">
        </p>
    </div>

    <div>
        <p class="text-sm text-gray-500">
            Dia do fechamento
        </p>

        <p class="text-gray-900"
           th:text="${conta.diaFechamento}">
        </p>
    </div>

</div>